body {
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #e9edf9;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  list-style: none outside none;
  outline: 0 none;
  box-sizing: border-box;
}

input {
  border: none;
}

input:focus {
  border: none;
  outline: 0;
}

button,
input {
  overflow: visible;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input:focus,
select:focus,
.btn:focus {
  border-color: #00ffff;
}

button svg {
  pointer-events: none;
}

.btn:hover {
  opacity: 0.9;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.full-width {
  width: 100%;
}

.bg-transparent {
  background-color: transparent;
}

.text-inherit {
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
